* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
}

li:hover,
a:hover {
    opacity: 0.5;
}

.header {
    width: 100%;
    height: 50px;
    background: #74b9ff;
    position: fixed;
    z-index: 99999;
    box-shadow: 0px 3px 4px grey;
}

.header .brand {
    width: 90%;
    float: left;
    color: aliceblue;
    padding: 6px 8px;
    box-sizing: border-box;
}

.header .nav {
    width: 10%;
    float: left;
    color: white;
    box-sizing: border-box;

}

.header .nav li {
    display: inline-block;
    padding-left: 6px;
    border-radius: 3px;
    margin: 10px auto;
    padding: 4px;
}

.header .side-nav ul li {
    display: block;
    padding-left: 20px;
    border-bottom: 1px solid rgba( 59, 196, 220, 0.3 );
    margin: 10px auto;
}

.header .nav li a {
    color: aliceblue;
    
}

.clear {
    clear: left;
}

.side-nav {
    padding-top: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    background: white;
    width: 0px;
    display: block;
    transition: 1s;
    z-index: 1;
    box-shadow: -2px 0px 4px grey;
}

.side-nav ul li {
    display: block;
    color: #74b9ff;
    padding: 10px;
    margin: 0px;
}
.side-nav ul li img{
    padding-right: 10px;
    position: relative;
    top: 3.5px;
}

.side-nav ul li a {
    display: block;
    color: #74b9ff;
}
.opac-close{
    opacity: 0;
}
.opac-open{
    opacity: 1;
}

.jumbotron {
    padding-top: 70px;
    background-image: url(../img/655329.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    animation-fill-mode: backwards;
    box-shadow: 0px 3px 4px grey;
}

.jumbotron h1 {
    padding-left: 100px;
    padding-top: 150px;
    color: aliceblue;
    opacity: 1;
}

.jumbotron .btn h2 {
    display: inline-block;
    padding: 5px;
    border-radius: 9px;
    border: 3px solid white;
    animation: nav-sidebar;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.jumbotron .btn {
    margin-left: 5px;

    display: inline-block;
}


.jumbotron .btn a {
    color: aliceblue;
}

.jumbotron .wrapBtn {
    margin-left: 95px;
    margin-top: 10px;
    
}

.container {
    border-radius: 9px;
    width: 80%;
    margin: 50px auto;
    background: white;
    border: 1px solid rgba(7, 7, 7, 0.47);
    height: 100%;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 3px 4px grey;
}

.container .mypersonal {
    width: 70%;
    float: left;
    border-right: 1px solid rgba(7, 7, 7, 0.47);
    height: 100%;
    position: relative;
    padding-bottom: 40px;
}

.container .mypersonal .title {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    color: rgba(14, 143, 234, 0.575)
}

.container .mypersonal .img {
    width: 100%;

}

.container .mypersonal img {
    border: 2px solid rgba(88, 122, 181, 0.729);
    border-radius: 50%;
    display: block;
    margin: 40px auto;

}

.container .mydata {
    box-sizing: border-box;
    width: 29.7%;
    float: left;
    height: 100%;
    padding: 40px 10px;

}

.container .mydata h2 {
    text-align: center;
}

.container .mydata p {
    padding-top: 10px;
    border-bottom: 0.3px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container .mydata .bio {
    text-align: right;
    padding-bottom: 10px;
}

.container .mydata .bio {
    font-weight: bolder;
}


.border {
    border-top: 2px solid rgba(7, 7, 7, 0.47);
    width: 50%;
    border-radius: 50%;
    margin: 0px auto;
}

.me {
    font-family: aerial, serif;
    text-align: center;
    padding-top: 20px;
    width: 70%;
    margin: 0px auto;
}

.side-nav-open{
    width: 170px;
}

.close1{

        position: relative;
        margin-top: 10px;
        width: 20px;
        display: block;
        bottom: 1px;
        left: 8.5px;
        top :1px;
        z-index: 2;
        transition: 0.5s;
    transform: rotate(45deg);
    border: 2px solid #74b9ff;
    top: 10px;
    display: block;
}
.close2{
    
        position: relative;
        margin-top: 10px;
        width: 20px;
        display: block;
        bottom: 1px;
        left: 8.5px;
        top :1px;
        z-index: 2;
        transition: 0.5s;
    transform: rotate(-45deg);
    border: 2px solid #74b9ff;
    top: -3px;
    display: block;
}

.close3{
        position: relative;
        width: 30px;
        margin-top: 10px;
        display: block;
        bottom: 1px;
        left: 8.5px;
        top: 1px;
        z-index: 3;
        transition: 0.5s;
    display: none;
}

.footer {
    height: 100%px;
    background: black;
    box-shadow: 0px -3px 4px grey;
}
.footer .row p{
        color: white;
        text-align: center;
        font-family: monospace;
        padding: 7px;
    }



@keyframes nav-sidebar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width:1080px) {
    .container .mypersonal {
        width: 100%;
        float: left;
        border: 1px solid rgba(7, 7, 7, 0.47);
        border-radius: 9px;
        height: 100%;
        position: relative;
        padding-bottom: 40px;
        box-shadow: 0px 3px 4px grey;
    }

    .container .mydata {
        box-sizing: border-box;
        width: 100%;
        float: left;
        height: 100%;
        padding: 40px 10px;
        border: 1px solid rgba(7, 7, 7, 0.47);
        margin-top: 10px;
        border-radius: 9px;
        box-shadow: 0px 3px 4px grey;

    }

    .container {
        border: none;

    }
}



@media (max-width:1080px) {
    .header .nav {
        display: none;
    }

    .burger {
        position: absolute;
        top: 1.5px;
        right: 0px;
        width: 50px;
        border: 1px solid rgba(255, 255, 255, 0.236);
        height: 45px;

    }

    .bor {
        border: 1px solid white;
        position: relative;
        margin-top: 10px;
        width: 30px;
        display: block;
        bottom: 1px;
        left: 8.5px;
        top :1px;
        z-index: 2;
        transition: 0.5s;
    }

    .bor1 {
        border: 1px solid white;
        position: relative;
        width: 30px;
        margin-top: 10px;
        display: block;
        bottom: 1px;
        left: 8.5px;
        top: 1px;
        z-index: 3;
        transition: 0.5s;
    }
    
}
